body {
    margin: 0;
    background-color: rgb(131, 2, 92);
  }
  
  #start-btn,
  #restart-btn {
    background-color: rgb(26, 227, 241);
    color: rgb(7, 7, 7);
    padding: 20px;
    font-size: 20px;
    margin-top: 420px;
    border-radius: 10px;
    position: absolute;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #splash-screen {
    background-image: url(Fotos/Fondos/Rise\ Up.jpeg);
    width: 1250px;
    height: 650px;
    background-position: center;
    background-size: cover;
  }
  
  #game-box {
    background-color: darkgray;
    width: 400px;
    height: 650px;
  
    /*Game box predeterminado*/
    overflow: hidden; 
    position: relative;
    user-select: none;
    background-position: center;
    background-size: cover;
  }
  
  #game-screen,
  #gameover-screen {
    display: none;
  }
  